{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Home Page</h2>
    <form action="{{ url_for('search') }}" method="post"
          autocomplete="off">
        <input type="text" name="searchIndex" placeholder="searchIndex" id="searchIndex"
               required>
        <input type="submit" value="SearchIndex">
    </form>
    <p>Welcome back, {{ username }}!</p>
    <img src="{{ url_for('static', filename='pickpocket.jpg' )}}" class="image">

    <h2>Products:</h2>
    <table>
        {% for item in products %}
            <tr>
                <p>
                    <a href="{{ url_for('product', productID=item[0]) }}"><i class="product"></i>{{ item[1] }}</a>
                    Price: {{ item[3] }} kr
                <form method="post" action="{{ url_for('addToBasket', productID=item[0]) }}">
                    <input type="submit" name="add_to_chart" value="Add to cart"/>
                </form>
                <br/>
                </p>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
